@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

body {
  background-color: lightblue;
  background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("http://localhost:3000/assets/Background.jpg");
  min-height: 100%;
}

h1 {
  font-family: 'Cinzel Decorative', cursive;
  font-size: xxx-large;
  color: white;
}

#flex-container {
  display: flex;
  justify-content: center;
}

#main-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2;
  justify-items: center;
}

#form-div {
  margin-top: 100px;
  display: block;
  text-align: center;
}

#submit-field {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background-color: rgba(0,0,0,0);
  outline: none;
  color: white;
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
  font-size: x-large;
  padding: 10px;
  border: 0;
  border-bottom:2px solid #eee;
}

#button {
  margin-top: 10px;
  padding: 10px 16px;
  border-radius: 8px;
  background-color: rgba(0,0,0,0.25);
  outline: none;
  border: none;
  color: white;
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
  font-size: large;

}

.echo {
  font-family: 'Knewave', cursive;
  text-align: center;
  font-size: 1000%;
  color: white;
}